.main {
  height: 100%;
  padding: 25px;
  border-radius: 10px;
  box-sizing: border-box;

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: #1953cb;
}
.message {
  text-align: center;
  font-size: 32px;
}
